@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a, button {
  text-decoration: none;
  color: hsla(278, 56%, 37%, 1);
  transition: 0.4s;
  padding: .5rem;
  margin: .5rem;
  text-align: center;
  border: none;
  background: none
}

@media (hover: hover) {
  a:hover, button:hover {
    background-color: hsla(278, 56%, 37%, 0.2);
    cursor: pointer;
  }
}
